option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application

files:
  "/etc/nginx/conf.d/custom_cors.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        location / {
          proxy_pass http://localhost:5000;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
          add_header 'Access-Control-Allow-Origin' 'http://automated-groove-frontend-dev.us-west-2.elasticbeanstalk.com';
          add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
          add_header 'Access-Control-Allow-Headers' 'Content-Type';
        }
        if ($request_method = 'OPTIONS') {
          add_header 'Access-Control-Allow-Origin' 'http://automated-groove-frontend-dev.us-west-2.elasticbeanstalk.com';
          add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
          add_header 'Access-Control-Allow-Headers' 'Content-Type';
          add_header 'Access-Control-Max-Age' 1728000;
          add_header 'Content-Length' 0;
          add_header 'Content-Type' 'text/plain charset=UTF-8';
          return 204;
        }
      }
